body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
}

header{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:rgb(102, 177, 243);
    color: black;
    top: 0px;
    left: 0px;
    align-content: space-between;
    width: 100%;
    position: fixed;
}
main{
    padding-top: 50px;

}

a{
    color: black;
}

li{
    display: inline-block;
    padding-right: 10px;
}
